# s06-50: Function Practice Exercises

## WARMUP SECTION:

**LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd**

```
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5
```

In [70]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return a if a < b else b
    else:
        return a if a > b else b

In [76]:
def lesser_of_two_evens2(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [77]:
# Check
lesser_of_two_evens2(2,4)

2

In [78]:
# Check
lesser_of_two_evens2(2,5)

5

In [79]:
# Check
lesser_of_two_evens2(7,5)

7

**ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter**

```
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False
```

In [4]:
def animal_crackers(text):
    words = text.split()

    if len(words) < 2:
        return False

    return words[0][0].lower() == words[1][0].lower()

In [9]:
# Check
animal_crackers('Levelheaded Llama')

True

In [10]:
animal_crackers('Levelheaded llama') # case insensitive => True

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [11]:
# Check => False if less than two words
animal_crackers('Kangaroo')

False

**MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False**

```
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False
```

In [12]:
def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [13]:

# Check
makes_twenty(20,10)

True

In [15]:
makes_twenty(12,8)

True

In [14]:
# Check
makes_twenty(2,3)

False

## LEVEL 1 PROBLEMS

**OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name**

```
old_macdonald('macdonald') --> MacDonald
```

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [24]:
def old_macdonald(name):
    new_name = ''
    for i in range(len(name)):
        if i == 0 or i == 3:
            new_name += name[i].upper()
        else:
            new_name += name[i].lower()

    return new_name

def old_macdonald2(name):
    new_name = str(name).capitalize();
    if len(name) >=4:
        new_name = new_name[0:3] + new_name[3:4].upper() + new_name[4:]

    return new_name

In [19]:

# Check
old_macdonald('macdonald')

'MacDonald'

In [31]:
old_macdonald2('macdonald')

'MacDonald'

**MASTER YODA: Given a sentence, return a sentence with the words reversed**

```
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'
```

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

```
>>> "--".join(['a','b','c'])
>>> 'a--b--c'
```

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

```
>>> " ".join(['Hello','world'])
>>> "Hello world"
```

In [49]:
def master_yoda(text):
    words = text.split()
    words.reverse()

    return " ".join(words)

In [50]:
# Check
master_yoda('I am home')

'home am I'

In [51]:
# Check
master_yoda('We are ready')

'ready are We'

**ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200**
```
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True
```
NOTE: abs(num) returns the absolute value of a number

In [57]:
def almost_there(n):
    return (n >= 90 and n<=110) or (n >= 190 and n <=210)

In [63]:
# Check
almost_there(90)

True

In [62]:
# Check
almost_there(104)

True

In [64]:
# Check
almost_there(150)

False

In [65]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

**FIND 33:**
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

```
has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False
```

In [75]:
def has_33(nums):
    #print(nums)
    nums_str = "".join([str(n) for n in nums])
    #print(nums_str)
    return "33" in nums_str

In [76]:
# Check
has_33([1, 3, 3])

True

In [77]:
# Check
has_33([1, 3, 1, 3])

False

In [78]:
# Check
has_33([3, 1, 3])

False

**PAPER DOLL: Given a string, return a string where for every character in the original there are three characters**
```
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'
```

In [81]:
def paper_doll(text):
    new_str = ''
    for letter in text:
        new_str += letter * 3

    return new_str

def paper_doll2(text):
    return "".join([letter*3 for letter in text])

In [80]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [83]:
# Check
paper_doll2('Hello')

'HHHeeellllllooo'

In [82]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [84]:
# Check
paper_doll2('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

**BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'**
```
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19
```

In [89]:
def blackjack(a,b,c):
    sum = a + b + c
    has_eleven = 11 in (a,b,c)
    if sum<=21:
        return sum
    elif has_eleven:
        sum -= 10
        return sum if sum <= 21 else 'BUST'
    else:
        return 'BUST'

In [90]:
# Check
blackjack(5,6,7)

18

In [91]:
# Check
blackjack(9,9,9)

'BUST'

In [92]:
# Check
blackjack(9,9,11)

19

In [93]:
# Check
blackjack(10,11,11)

'BUST'

**SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.**

```
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14
```

In [99]:
def summer_69(arr):
    sum = 0
    ignore = False

    for num in arr:
        if ignore and num == 9: # end of ignored 6-9 section
            ignore = False
        elif ignore:
            pass
        elif num == 6:          # start of ignored 6-9 section
            ignore = True
        else:
            sum += num

    return sum

In [100]:
# Check
summer_69([1, 3, 5])

9

In [101]:
# Check
summer_69([])

0

In [102]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [103]:
# Check
summer_69([2, 1, 6, 9, 11])

14

## CHALLENGING PROBLEMS

**SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order**
```
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False
 ```

In [111]:
def spy_game(nums):
    nums_str = "".join([str(n) for n in nums if n in [0,7]])
    print(nums_str)

    return "007" in nums_str

In [112]:
# Check
spy_game([1,2,4,0,0,7,5])

007

True

In [113]:
# Check
spy_game([1,0,2,4,0,5,7])

007

True

In [114]:
# Check
spy_game([1,7,2,0,4,5,0])

700

False

**COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number**
```
count_primes(100) --> 25
```
By convention, 0 and 1 are not prime.

In [10]:
def is_prime(n):
    if n > 1:
        for i in range(2, int(n/2)+1):
            if n % i == 0:
                return False
        else:
            return True
    else:
        return False

def count_primes(num):
    count = 0

    for i in range(0, num+1):
        if is_prime(i):
            count += 1

    return count

In [11]:
# Check
count_primes(100)

25

## Just for fun:

**PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter**

```
print_big('a')

out:   *
      * *
     *****
     *   *
     *   *
```

HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [65]:
def get_alpha_mapping():
    return {
        'a': get_big_a,
        'b': get_big_b,
        'c': get_big_c,
        'd': get_big_d,
        'e': get_big_e
    }

def get_big_a():
    return [
        [' ',' ','*',' ',' '],
        [' ','*',' ','*',' '],
        ['*','*','*','*','*'],
        ['*',' ',' ',' ','*'],
        ['*',' ',' ',' ','*'],
    ]

def get_big_b():
    return [
        ['*','*','*','*',' '],
        ['*',' ',' ',' ','*'],
        ['*','*','*','*',' '],
        ['*',' ',' ',' ','*'],
        ['*','*','*','*',' '],
    ]

def get_big_c():
    return [
        [' ','*','*','*',' '],
        ['*',' ',' ',' ','*'],
        ['*',' ',' ',' ',' '],
        ['*',' ',' ',' ','*'],
        [' ','*','*','*',' '],
    ]

def get_big_d():
    return [
        ['*','*','*','*',' '],
        ['*',' ',' ',' ','*'],
        ['*',' ',' ',' ','*'],
        ['*',' ',' ',' ','*'],
        ['*','*','*','*',' '],
    ]

def get_big_e():
    return [
        ['*','*','*','*','*'],
        ['*',' ',' ',' ',' '],
        ['*','*','*','*',' '],
        ['*',' ',' ',' ',' '],
        ['*','*','*','*','*'],
    ]

def print_big(letter):
    alpha_mapping = get_alpha_mapping()

    if letter.lower() not in alpha_mapping:
        print('No pattern for letter "{}" found'.format(letter))
    else:
        pattern = alpha_mapping[letter.lower()]()

        for i in range(len(pattern)):
            print(''.join(pattern[i]))


import string

def print_alphabet():
    for letter in string.ascii_lowercase[:5]: # only: abcde
        print_big(letter)
        print('-' * 10)

In [69]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [66]:
print_big('z')

No pattern for letter "z" found

In [64]:
print_alphabet()

  *
 * *
*****
*   *
*   *
----------
****
*   *
****
*   *
****
----------
 ***
*   *
*
*   *
 ***
----------
****
*   *
*   *
*   *
****
----------
*****
*
*****
*
*****
----------